@font-face {
  font-family: Sora;
  font-display: fallback;
  src: url("../fonts/Sora.ttf") format("truetype");
}

:root {
  --clr-1: #883AE1;
  --clr-2: #E6D6FC;
  --clr-3: #E5EAF0;
  --clr-4: #FAFAF9;
  --clr-5: #FFFFFF;
  --clr-6: #20293A;
  --clr-7: #6C727F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-4);
  color: var(--clr-7);
  font-family: Sora, sans-serif;
  font-size: 0.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--clr-5);
  border-radius: 1rem;
  box-shadow: 6px 6px 16px 1px var(--clr-3);
  max-width: 21.875rem;
}

.card__header {
  padding: 1rem;
}

.card__header .card__thumb {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

.tags {
  padding-top: 1rem;
}

.tags .tag {
  background: var(--clr-2);
  border-radius: 0.875rem;
  color: var(--clr-1);
  font-size: 0.625rem;
  font-weight: 600;
  padding: 0.375rem 1.125rem;
}

.card__body {
  padding: 0 1rem;
  padding-bottom: 1.25rem;
}

.card__body .card__title {
  color: var(--clr-6);
  font-size: 1.125rem;
  margin-top: 0.375rem;
}

.card__body p {
  margin-top: 0.375rem;
}

.card__footer {
  border-top: 1px solid var(--clr-3);
  padding: 1.25rem 1rem;
}

.small {
  font-size: 0.75rem;
}